<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DataDirectory" value="C:\Development\Projects\FormGenerator\Data\" />
    <add key="TestFile" value="Fields.vtt"/>
    <add key="OptionsFile" value="Options.vtt" />
  </appSettings>
</configuration>