<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="DataFile" value="C:\Development\Projects\FormGenerator\FormGenerator\Data\Characters.vtt"/>
    <add key="StaticData" value="C:\Development\Projects\FormGenerator\FormGenerator\Data\Data.vtt"/>
    <add key="DataName" value="Character"/>
  </appSettings>
</configuration>
