<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="DataDirectory" value="C:\Development\Projects\FormGenerator\Data\"/>
    <add key="OptionsFile" value="Options.vtt"/>
    <add key="DataFile" value="Characters.vtt"/>
    <add key="StaticData" value="Data.vtt"/>
    <!--<add key="StaticData" value="CreatorData.vtt"/>-->
    <add key="DataName" value="Character"/>
  </appSettings>
</configuration>
